# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# testing
coverage/
playwright-report/
test-results/
blob-report/

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/generated/

.vercel
.supabase/
